* { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* test */

/* body {
    background-color: red
} */ */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


/* -----header---- */
header {
    background-color: lightgray;
    height: 100px;
    color: rgb(0, 0, 0);
}


.container {
    margin-left: 5%;
    margin-right: 5%;
}


.riga{
    width: 100%;
}


.colSxheader {
    width: 50%;
    float: left;
}


.colDxheader{
    width: 50%;
    float: left;
}

.menuSx
ul
li {
    text-align: left;
    display: inline-block;
    list-style-type: none;
    font-size: 85%;
}

.menuDx
ul
li {
    text-align: right;
    display: inline-block;
    list-style-type: none;
    font-size: 85%;
}

.inizia {
    display: inline-block;
    background-color: rgb(73, 90, 246);
    color: white;
    border: none;
    padding: 10px;
    height: 30px;
    font-size: 70%;
}