* { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* test */

/* body {
    background-color: red
} */ */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


/* ----------------header */
header {
    background-color: rgb(255, 255, 255);
    height: 100px;
    color: rgb(0, 0, 0);
    /* position: fixed; */
}

.container {
    margin-left: 2%;
    margin-right: 2%;
}


.row {
    width: 100%;
}


.logo-dropbox {
    margin-top: 33px;
}


.colSxheader {
    width: 50%;
    float: left;
}

.colDxheader {
    width: 50%;
    float: right;
    text-align: right;
}

.menuSx
ul
li {
    text-align: left;
    display: inline-block;
    list-style-type: none;
    font-size: 85%;
    margin-left: 20px;
    padding-left: 20px;
    font-weight: bold;
    position: relative;
    left: 140px;
    bottom: 30px;
}

.menuDx
ul
li {
    text-align: right;
    display: inline-block;
    list-style-type: none;
    font-size: 85%;
    margin-left: 20px;
    padding-left: 20px;
    font-weight: bold;
    margin-right: 30px;
    position: relative;
    right: 140px;
    top: 30px;
}
    

.inizia,
.buttoninizia,
.contatta,
.trovaunpartner {
    display: inline-block;
    background-color: rgb(0, 119, 255);
    color: white;
    border: none;
    padding: 10px;
    height: 30px;
    width: 80px;
    font-size: 70%;
    margin-top: 10px;
}



/* -----------------------------sezione 1 */
.containerbkg {
    background-color: rgba(180,208,231,255);
    height: 800px;
}

.box {
    margin-left: 5%;
    margin-right: 5%;
}


.leader-titolo {
    padding-top: 30px;
}

.tutto {
   font-size: 600%;
}


.col50 {
    float: left;
    width: 20%;
}

.col51 {
    width: 65%;
    position: relative;
    left: 600px;
    bottom: 210px;
}

.buttoninizia, .contatta, .trovaunpartner {
     width: 200px;
}

.img100 {
    width: 100%;
}


/* -------------------------------sezione 2  */
.leader1 {
    margin-top: 300px;
    margin-left: 15%;
    margin-right: 15%;
}



.colcenter {
    margin-right: 73px;
}

.colleft {
    margin-right: 73px;
}



.colleft, .colcenter, .colright  {
    float: left;
    margin-top: 20px;
    border: 1px solid lightgrey;
    width: 30%;
    padding: 30px 30px 30px 30px;
    margin-left: 0px;
    text-align: center;
}

.colcenter1 {
    margin-right: 73px;
}

.colleft1 {
    margin-right: 73px;
}

.colleft1, .colcenter1, .colright1  {
    float: left;
    height: 900px;
    border: 1px solid lightgrey;
    width: 30%;
    padding: 30px 30px 30px 30px;
    margin-left: 0px;
}

p {
    display: inline-block;
    margin-top: 50px;
    padding-left: 0px;
    font-size: 16px;
}


.titolo2 {
    float: left;
    height: 50px;
    margin-top: 40px;
    border: 1px solid lightgrey;
    width: 100%;
    padding: 30px 30px 30px 30px;
    margin-left: 0px;
    text-align: center;
}

.colonnaOrizzontale {
    float: left;
    height: 240px;
    border: 1px solid lightgrey;
    width: 100%;
    padding: 30px 30px 30px 30px;
}


/*------------------- sezione 3 */


.leader2 {
    margin-top: 200px;
    margin-left: 15%;
    margin-right: 15%;
    position: relative;
}


.imgpartner {
    float: left;
    margin-top: 100px;
    width: 20px;
}

.Entra {
    float: left;
    position: absolute;
    left: 900px;
    top: 1200px;
    padding: 90px 90px 90px 90px;
}

.trovaunpartner {
    background-color: white;
    color: black;
    border: 1px solid rgb(0, 0, 0);
}

.imgPartner {
    width: 900px;
}

.entrain {
    font-size: 40px;
}







.Esegui {
    margin-left: 15%;
    margin-right: 15%;
    height: 150px;
    margin-top: 2300px;
    position: relative;
}

.trova, .esegui1 {
    font-size: 380%;
}


.colleftimg, .colleftimg1, .colleftimg2 {
    float: left;
}



.imgcartelle {
    width: 25%;
    position: absolute;
    left: 0px;
    top: 140px;
}

.imgcartelle1 {
    width: 25%;
    position: absolute;
    left: 500px;
    top: 140px;
}

.imgcartelle2 {
    width: 25%;
    position: absolute;
    left: 1000px;
    top: 140px;
}


.collefttesto {
    float: left;
    width: 100%;
    margin-top: 420px;
}

























































